<div>
    <div class="header">
        <div id="cart" >
            <h3>
                Admin: {{customer.username| capitalize}}
            </h3>
        </div>
            <ul id="navBar">
                <li>
                    <a href="/" class="fa fa-sign-out"> Sign Out</a>
                </li>
                <li>
                    <a href="/adminOrder" class="fa fa-list-ul"> Orders</a>
                </li>
                <li>
                    <a href="/adminProducts" class="fa fa-briefcase"> Products</a>
                </li>
                <li>
                    <a href="/users" class="fa fa-users"> Users</a>
                </li>
            </ul>
    </div>
    
    
    
</div>
