<div class="container" >
    <section id="content_wrong_id" >
        <h1>Welcome <strong>{{customer.username}}</strong></h1>
        <h2> <strong>{{customer.name}}</strong> you are Registered on NetFlorist online Store</h2>
        <p>Please Use the following to log in</p>
        <table>
            <tr>
                <td>Username:</td>
                <td> <strong>{{customer.username}}</strong> </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td> <strong>{{customer.password}}</strong> </td>
            </tr>
        </table>         
       <a href="/login" ><input type="submit" value="Login" /></a>    
    </section>
</div>
