<div class="container" >
            <section id="content_forgot_password" >
                <h1>Forgot Password</h1>
                <h2>To Recover Password Answer the Security Question:</h2>
                <form ng-submit="fetchQuestion()" name="forgotPasswordFrm">    
                    <table style="alignment-adjust: central">
                        <tr>
                            <td>
                                <div class="wrapper" > 
                                    
                                    <input type="text" 
                                           placeholder="Identity Number" 
                                           ng-model="id"
                                           th:required="required"
                                           />
                                    <!--<span ng-show="forgotPasswordFrm.customer.id.$touched && forgotPasswordFrm.customer.id.$invalid">The id is required.</span>-->
                                </div>
                            </td>
                            <td>
                                <div>
                                        <input type="submit" value="Verify" />
                                </div>
                            </td>
                        </tr>
                    </table>    
                </form>
                <form ng-controller="verifyAnswerCtrl" ng-submit="checkAnswer()" name="forgotPasswordFrm">
                        <h1 ng-switch="customer.securityQue">    
                                <div ng-switch-when="dogName">
                                   <h2>What is the name of your Dog?</h2>
                                </div>
                                <div ng-switch-when="favourateColor">
                                   
                                   <h2>What is your Favorite color?</h2>
                                </div>
                                <div ng-switch-when="momsName">
                                   
                                   <h2>What is your mothers name?</h2>
                                </div>
                                <div ng-switch-when="favourateSong">
                                  
                                   <h2>What is your Favorite Song?</h2>
                                </div>
                                <div ng-switch-when="specialNumber">
                                   
                                   <h2>What is your Special Number?</h2>
                                </div>
                                <div ng-switch-when="specialPlace">
                                   
                                   <h2>which place in the world is Special to you?</h2>
                                </div>
                                <div ng-switch-when="favourateMovie">
                                   
                                   <h2>What is your Favorite Movie?</h2>
                                </div>
                             
                        </h1>
                        
                    <!--<br/><br/><h2>{{customer.securityQue}}</h2><br/><br/>-->
                    <table style="alignment-adjust: central">
                        <tr>
                            <td>
                                <div class="wrapper" > 
                                    
                                    <input type="text" 
                                    placeholder="Security Answer" 
                                    ng-model="securityAns" 
                                    th:required="required"
                                           />
                                    <!--<span ng-show="forgotPasswordFrm.customer.id.$touched && forgotPasswordFrm.customer.id.$invalid">The id is required.</span>-->
                                </div>
                            </td>
                            <td>
                                <div>
                                        <input type="submit" value="Verify Answer" />
                                </div>
                            </td>
                             <td>
                                <div>
                                        <br/><br/><h2>{{answer}}</h2><br/><br/>
                                </div>
                            </td>
                        </tr>
                    </table>    
                </form>
                
                        <a href="/">
                            <input  type="submit" 
                            value="Back To Login" 

                            />
                        </a>
                 
                  
            </section>

</div>
